<div id="navbar-main"> 
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        
         
       
        <div class="navbar-header">
            <div class="logo">
                <a class="" href="#home"><img class="text-center" src="assets/img/logo.png" width="100" height="75"/></a>
      
               </div>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
        <div class="navbar-collapse collapse home">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#home-section" class="smoothScroll">Inicio</a></li>
            <li> <a routerLink="/noticias" class="smoothScroll">Noticias</a></li>		  
            <li> <a href="#about" class="smoothScroll"> Nosotros</a></li>
            <li> <a href="#portfolio" class="smoothScroll"> Solicitudes</a></li>
            <li> <a href="#team" class="smoothScroll"> contactos</a></li>
            <li> <a href="#contact" class="smoothScroll"> Iniciativas</a></li>
            <li> <a href="#contact" class="smoothScroll"> SGC</a></li>
            <li> <a href="#contact" class="smoothScroll"> Más Servicios</a></li>
            <button type="button" class="btn btn-primary btn-lg">Iniciar Sesión</button>
          </ul>
        </div>
      </div>
    </div>
  </div>