<!-- Header -->
<header>
  <!-- Header desktop -->
  <div class="container-menu-desktop">
      
      <!-- Header Mobile -->
      <div class="wrap-header-mobile">
          <!-- Logo moblie -->		
          <div class="logo-mobile">
              <a href="index.html"><img src="assets/img/logo.png" alt="IMG-LOGO"></a>
          </div>

          <!-- Button show menu -->
          <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
              <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
              </span>
          </div>
      </div>

      <!-- Menu Mobile -->
      <div class="menu-mobile">
          

          <ul class="main-menu-m">
              <li>
                  <a routerLink="/" class="quitarflecha">Principal</a>                  

              </li>

              <li>
                  <a routerLink="/noticias">Noticias</a>
              </li>
              <li>
                <a routerLink="/brigadas">Brigadas</a>
            </li>
              <li>
                  <a routerLink="/eventos">Eventoso</a>
              </li>

              <li>
                  <a routerLink="/directorio">Directorio general</a>
              </li>

              <li>
                  <a routerLink="/reglamento">Reglamento</a>
              </li>

              <li>
                  <a routerLink="/sugerencias">Buzón de sugerencias</a>                  
              </li>
          </ul>
      </div>
      
      <!--  -->
      <div class="wrap-logo container">
          <!-- Logo desktop -->		
          <div class="logo">
              <a routerLink="/"><img src="assets/img/logo.png" alt="LOGO" width="100" height="80"></a>
          </div>	

      </div>	
      
      <!--  -->
      <div class="wrap-main-nav">
          <div class="main-nav">
              <!-- Menu desktop -->
              <nav class="menu-desktop">
                  <a class="logo-stick" routerLink="/">
                      <img src="assets/img/logo.png" alt="LOGO">
                  </a>

                  <ul class="main-menu">
                      <li class="main-menu-active">
                          <a routerLink="/" class="quitarflecha">Principal</a>
                          <!--<ul class="sub-menu">
                              <li><a routerLink="/">Misión Visión y Valores</a></li>
                              <li><a routerLink="/">Certificados</a></li>
                              <li><a routerLink="/">Empleados destacados</a></li>
                          </ul>-->
                      </li>

                      <li class="main-menu-active">
                          <a  [routerLink]="['/noticias']">Destacados</a>

                          <ul class="sub-menu">
                            <li><a [routerLink]="['/noticias']">Noticias</a></li>
                            <li><a [routerLink]="['/categoria-noticias',12, 'details']">Categorías</a></li>
                            <li><a [routerLink]="['/brigadas']">Brigadas</a></li>
                            <li><a [routerLink]="['/empleados']">Empleados</a></li>
                          </ul>
                      </li>

                      <li class="main-menu-active">
                          <a routerLink="/eventos" class="quitarflecha">Eventos </a>
                          <!--<ul class="sub-menu">
                            <li><a routerLink="/eventos">Eventos por mes</a></li>
                            <li><a routerLink="/eventos">Calendario de eventos</a></li>
                        </ul>-->
                      </li>                                      
                    
                      <li class="main-menu-active">
                        <a routerLink="/directorio" class="quitarflecha">Directorio general</a>
                      </li>

                      <li class="main-menu-active">
                          <a routerLink="/reglamento" class="quitarflecha">Reglamento</a>
                      </li>
                      <li class="main-menu-active">
                        <a routerLink="/empleados" class="quitarflecha">Empleados</a>
                    </li>
                      <li class="main-menu-active">
                          <a  routerLink="/sugerencias" class="quitarflecha">Buzón de sugerencias</a>
                      </li>
                      <li class="main-menu-active">                          
                        <a class="quitarflecha"  [routerLink]="['/perfil']"><fa-icon  class="fa fa-user-circle fa-2" aria-hidden="true"></fa-icon></a>
                    </li>
                      <li class="otherItem">                          
                            <a class="otherLinks lock">
                                <fa-icon class="icon-unlock" [icon]="faDoorClosed"></fa-icon>
                                <fa-icon class="icon-lock" [icon]="faDoorOpen"></fa-icon>
                            </a>
                            <ul class="sub-menu">
                                <li><a  href="http://wisecorp-ec.com/e-learning-stapriscila/login/index.php">E-Learning</a></li>
                                <li>
                                    <form action="https://www.santa-priscila-admin.com/ipsp/roles/comprueba.php" target="_blank" method="POST" #form>
                                        <input type="hidden" name="txt_cedula" value="{{cedula}}">
                                        <input type="hidden" name="txt_clave_1" value="{{clave}}">
                                    </form>
                                    <a routerLink=""  type="submit" (click)="form.submit()" >Roles-IPSP</a>
                                </li>
                                <li><a routerLink="/login" (click)="logout()">Log out</a></li>
                            </ul>
                    </li>
                 
                  </ul>
                  
              </nav>
               
          </div>
      </div>	
  </div>
</header>
