@import './css_header/bootstrap.min.css';
@import './css_header/hamburgers.min.css';
@import './css_header/main.css';
@import './css_header/util.min.css';
@import './fonts/iconic/css/material-design-iconic-font.min.css';
@import './fonts/fontawesome-5.0.8/css/fontawesome-all.min.css';

.quitarflecha::after{
    display:none;
}
.otherLinks:hover{
    cursor: pointer;        
}
.otherLinks{

}

.lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}
.lock:hover .icon-lock {
    display: inline;
}

