




<!-- ==== HEADERWRAP ==== -->
<html lang="en">
<head>
  <title>ultimas noticias </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Sesión Noticias</h1>
  <h2>informese de nuestros nuevos precios</h2>
  <div class="containerp">
                   
    <img src="https://lh3.googleusercontent.com/proxy/9s37-L_KrZGYzCmegOB9dWRdozUsucCPzoNM8UaX_3qvaeX8ekx8Gtk3GkTmHWArhbnw_MMdW-ltC_ClswEceMZ2t6rhH5-69J3rj2iPioULqkAfL5E" class="img-responsive " alt="Cinque Terre" width="304" height="236"> 
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3> Tilapias Marinas </h3>
      <p>Nuestras tilapias crecen libres en un ambiente sano y controlado, 
        provenientes de torrentes oceánicas naturales, son alimentadas con algas y granos 100% vegetales.
        Son ricas en colágeno y omega 3 y le aportan a nuestra alimentación un alto porcentaje de proteínas.
        Su sabor la ha convertido en el pez preferido por los niños, 
        y es ideal para mujeres embarazadas por su gran valor nutritivo.</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

</body>
</html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>



</body>
</html>
    <!-- /headerwrap --> 

 <!-- ==== SERVICES ==== -->
    <div id="services" name="services"></div>
  

<app-footer></app-footer>