<div class="background_pattern">
<app-header></app-header>

<app-carrousel></app-carrousel>




<!-- ##### Mag Posts Area Start ##### -->
<section class="mag-posts-area d-flex flex-wrap">

        

  <!-- >>>>>>>>>>>>>>>>>>>>
       Main Posts Area
  <<<<<<<<<<<<<<<<<<<<< -->
  <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow ">
     

              

      <!-- Feature Video Posts Area -->
      <div class="feature-video-posts mb-30">
          <!-- Section Title -->
          <div class="section-heading">
              <h5>Últimos comunicados</h5>
          </div>

          <div class="featured-video-posts">
              <div class="row">
                  <div class="col-12">

                  <div *ngFor="let ultima of ultimos">
                    <div class="col-lg-4">
                        <!-- Single Featured Post -->
                        <div class="single-featured-post">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <img src="http://127.0.0.1:8000{{ultima.image}}" alt="">                                    
                            </div>
                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a>{{ultima.date}}</a>
                                    <a>{{ultima.cat}}</a>
                                </div>
                                <a [routerLink]="['/noticia',ultima.id , 'details']" class="post-title">{{ultima.title}}</a>
                                <p>{{ultima.resume}}</p>
                            </div>                            
                        </div>
                    </div>
                    </div>
                </div>
              </div>
          </div>
      </div>

      <!-- Feature Video Posts Area -->
      <div *ngFor="let cat of arrayCategoria" class="feature-video-posts mb-30">
          <!-- Section Title -->
          <div class="section-heading">
              <h5>{{cat}}</h5>
          </div>

          <div  class="featured-video-posts">
              <div  class="row">
                  <div class="col-12">
                    <div *ngFor="let noticias of arrayNoticiasCate" >
                      <div  *ngIf="noticias.cat === cat" class="col-lg-4">
                      <!-- Single Featured Post -->
                      <div  class="single-featured-post">
                          <!-- Thumbnail -->
                          <div class="post-thumbnail mb-50">
                              <img src="http://127.0.0.1:8000{{noticias.image}}" alt="">                                    
                          </div>
                          <!-- Post Contetnt -->
                          <div  class="post-content">
                              <div class="post-meta">
                                  <a >{{noticias.date}}</a>
                                  <a >{{noticias.cat}}</a>
                              </div>
                              <a [routerLink]="['/noticia',noticias.id , 'details']"  class="post-title" >{{noticias.title}}</a>
                              <p>{{noticias.resume}}</p>
                          </div>
                          </div>
                      </div>
                  </div>
                  </div>   
              </div>
          </div>
      </div>
  </div>

  <!-- >>>>>>>>>>>>>>>>>>>>
   Post Right Sidebar Area
  <<<<<<<<<<<<<<<<<<<<< -->
  <div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow col-md-3">
      <!-- Sidebar Widget -->
      <div  class="single-sidebar-widget p-30">
          <!-- Section Title -->
          <div class="section-heading">
              <h5>Categorías</h5>
          </div>

          <!-- Catagory Widget -->
          <ul *ngFor="let cat of categorias" class="catagory-widgets">
              <li><a  [routerLink]="['/categoria-noticias',cat.id,cat.categoria]"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{cat.categoria}}</span> <span>35</span></a></li>
              
          </ul>
      </div>

      <!-- Sidebar Widget -->
      <div class="single-sidebar-widget">
        <img src="assets/img/portfolio/birthday.png" alt="">
      </div>

      <!-- Sidebar Widget -->
      <div class="single-sidebar-widget p-30">
          <!-- Section Title -->
          <div class="section-heading">
              <h5>Cumpleaños del mes</h5>
          </div>

          <!-- Single YouTube Channel -->
          <div *ngFor="let birthday of birthdays">

            <div class="single-youtube-channel d-flex cuadro">
                <div class="youtube-channel-thumbnail ">
                    <img src="http://127.0.0.1:8000{{birthday.image}}" alt="">
                </div>
                <p></p>
                <div class="youtube-channel-content">
                    <a href="single-post.html" class="channel-title">{{birthday.name}}</a>
                    <p>{{birthday.date}}<br></p>
                </div>
            </div>
            
          </div>
        
          <!-- Single YouTube Channel 
          <div class="single-youtube-channel d-flex">
              <div class="youtube-channel-thumbnail">
                  <img src="assets/img/team/team02.jpg" alt="">
              </div>
              <div class="youtube-channel-content">
                  <a href="single-post.html" class="channel-title">Jorge Lopez</a>
                  <p>19 de Marzo</p>
              </div>
          </div>-->

          <!-- 
          <div class="single-youtube-channel d-flex">
              <div class="youtube-channel-thumbnail">
                  <img src="assets/img/team/team03.jpg" alt="">
              </div>
              <div class="youtube-channel-content">
                  <a href="single-post.html" class="channel-title">Alvaro Monetenegro</a>
                  <p>19 de Marzo</p>
              </div>
          </div>

         
          <div class="single-youtube-channel d-flex">
              <div class="youtube-channel-thumbnail">
                  <img src="assets/img/team/team04.jpg" alt="">
              </div>
              <div class="youtube-channel-content">
                  <a href="single-post.html" class="channel-title">Arturo Plaza</a>
                  <p>19 de Marzo</p>
              </div>
          </div>

          <div class="single-youtube-channel d-flex">
              <div class="youtube-channel-thumbnail">
                  <img src="assets/img/team/team01.jpg" alt="">
              </div>
              <div class="youtube-channel-content">
                  <a href="single-post.html" class="channel-title">Maria Rivadeneira</a>
                  <p>19 de Marzo</p>
              </div>
          </div>-->

      </div>

     
  </div>
</section>

</div>

<app-footer></app-footer>
