

<div class="jumbotron text-center">
  <h1> Comunicados</h1>
  <h2>informese de nuestros nuevos precios</h2>

</div>

<div class="container">
 
    <div class="col-md-9 text-center news-container margen">

      <div class="seccion">

        <div class="text-center news-container margen">
          <h3> Tilapias Marinas </h3>
        </div>

        <div class="col-md-4">
          <div class="noticia">
          <img class="" src="https://www.santa-priscila.com/images/Logo%20Empresa%20-%20Santa.%20Priscila.png" alt="Girl in a jacket" style="width:225px;height:115px;">
          <p>Nuestros camarones crecen libres en un ambiente sano y controlado de torrentes oceánicas, son alimentados con una dieta natural a base de algas y granos vegetales, 100% libres de hormonas y antibióticos.
          </p>
            </div>
        </div>

        <div class="col-md-4">
          <div class="noticia">
          <img class="" src="https://www.santa-priscila.com/images/Logo%20Empresa%20-%20Santa.%20Priscila.png" alt="" style="width: 225px ;height:115px;">          
          <p>Nuestros camarones crecen libres en un ambiente sano y controlado de torrentes oceánicas, son alimentados con una dieta natural a base de algas y granos vegetales, 100% libres de hormonas y antibióticos.
          </p>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="noticia">
          <img class="" src="https://www.santa-priscila.com/images/Logo%20Empresa%20-%20Santa.%20Priscila.png" alt="" style="width: 225px ;height:115px;">
          <p>Nuestros camarones crecen libres en un ambiente sano y controlado de torrentes oceánicas, son alimentados con una dieta natural a base de algas y granos vegetales, 100% libres de hormonas y antibióticos.
          </p>
          </div>
        </div>

      </div>
      
      <div class="seccion">

        <div class="text-center news-container margen">
          <h3> Tilapias Marinas </h3>
        </div>

        <div class="col-md-4">
          <div class="noticia">
          <img class="" src="https://www.santa-priscila.com/images/Logo%20Empresa%20-%20Santa.%20Priscila.png" alt="Girl in a jacket" style="width:225px;height:115px;">
          <p>Nuestros camarones crecen libres en un ambiente sano y controlado de torrentes oceánicas, son alimentados con una dieta natural a base de algas y granos vegetales, 100% libres de hormonas y antibióticos.
          </p>
            </div>
        </div>

        <div class="col-md-4">
          <div class="noticia">
          <img class="" src="https://www.santa-priscila.com/images/Logo%20Empresa%20-%20Santa.%20Priscila.png" alt="" style="width: 225px ;height:115px;">          
          <p>Nuestros camarones crecen libres en un ambiente sano y controlado de torrentes oceánicas, son alimentados con una dieta natural a base de algas y granos vegetales, 100% libres de hormonas y antibióticos.
          </p>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="noticia">
          <img class="" src="https://www.santa-priscila.com/images/Logo%20Empresa%20-%20Santa.%20Priscila.png" alt="" style="width: 225px ;height:115px;">
          <p>Nuestros camarones crecen libres en un ambiente sano y controlado de torrentes oceánicas, son alimentados con una dieta natural a base de algas y granos vegetales, 100% libres de hormonas y antibióticos.
          </p>
          </div>
        </div>

      </div>
    
      <div class="seccion">

        <div class="text-center news-container margen">
          <h3> Tilapias Marinas </h3>
        </div>

        <div class="col-md-4">
          <div class="noticia">
          <img class="" src="https://www.santa-priscila.com/images/Logo%20Empresa%20-%20Santa.%20Priscila.png" alt="Girl in a jacket" style="width:225px;height:115px;">
          <p>Nuestros camarones crecen libres en un ambiente sano y controlado de torrentes oceánicas, son alimentados con una dieta natural a base de algas y granos vegetales, 100% libres de hormonas y antibióticos.
          </p>
            </div>
        </div>

        <div class="col-md-4">
          <div class="noticia">
          <img class="" src="https://www.santa-priscila.com/images/Logo%20Empresa%20-%20Santa.%20Priscila.png" alt="" style="width: 225px ;height:115px;">          
          <p>Nuestros camarones crecen libres en un ambiente sano y controlado de torrentes oceánicas, son alimentados con una dieta natural a base de algas y granos vegetales, 100% libres de hormonas y antibióticos.
          </p>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="noticia">
          <img class="" src="https://www.santa-priscila.com/images/Logo%20Empresa%20-%20Santa.%20Priscila.png" alt="" style="width: 225px ;height:115px;">
          <p>Nuestros camarones crecen libres en un ambiente sano y controlado de torrentes oceánicas, son alimentados con una dieta natural a base de algas y granos vegetales, 100% libres de hormonas y antibióticos.
          </p>
          </div>
        </div>

      </div>
  </div>



             
    <div class="pull-right news-container Categorias">
      <h3> Categorías </h3>
   

       <ul>
        <a href="justificacion"> <li> Brigada medica </li></a>
        <a href="justificacion"> <li> Eventos </li></a>
        <a href="justificacion"> <li> Cumpleaños </li></a>
        <a href="justificacion"> <li> Ayuda </li></a>
        
       </ul>
  
</div> 
</div>


<app-footer></app-footer>