{% extends "views/login/index.html" %} 
  <!-- /.container -->
{% block content %}
<div id="layoutSidenav_content">
      <div class="card">
        <div class="card-header"><strong>Registro De Miembros En Brigadas</strong> </div>
        <div class="card-body">
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

          
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="brigada_tipo">Categoria Brigada:</label>
                <div class="col-md-9">

                  <select class="form-control" id="select1" name="brigada_tipo">

                    <option value="0">Seleciones la brigada</option>
                    {% for categoria_brigada in categorias %}
                    <option value="{{categoria_brigada.id_tipobrigada}}">{{categoria_brigada.nombre_brigada}}</option>

                    {% endfor %}   

                  </select>
                </div>
              </div>
               
          
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">Coolaborador de la brigada:</label>
              <div class="col-md-9">
                <textarea class="form-control" id="textarea-input" name="miembro" rows="3" placeholder="Escriba los nombres de colaborador.."></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Descripcion:</label>
              <div class="col-md-9">
                <input class="form-control" id="text-input" type="text" name="descripcion" placeholder="Ingrese breve descripción"><span class="help-block"></span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="archivoimg">Suba imagen del colaborador:</label>
              <div class="col-md-9">
                <input id="file-input" type="file"  accept="image/*" name="archivoimg">
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-primary" type="submit"> Registrar</button>
              <button class="btn btn-sm btn-danger" type="reset"> Borrar</button>
            </div>
          </form>
        </div>
      </div>
</div>
{% endblock  %}