{% extends "views/login/index.html" %} 
  <!-- /.container -->
{% block content %}
<div id="layoutSidenav_content">
      <div class="card">
        <div class="card-header"><strong>Registro De Eventos</strong> </div>
        <div class="card-body">
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Evento:</label>
              <div class="col-md-9">
                <input class="form-control" id="name" required="required"  type="text" name="evento"   required="required" placeholder="Ingrese Evento"><span class="help-block"></span>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Mes del evento:</label>
                <div class="col-md-9">
                  <select class="form-control" id="select1" name="mes"  required="required" >
                    <option value="0">Seleciones el mes del evento</option>
                    {% for mesEvento in meses  %}
                    <option value="{{mesEvento.mes}}">{{mesEvento.mes}}</option>
                    {% endfor  %}
                  </select>
                </div>
              </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="date-input">Fecha del evento:</label>
              <div class="col-md-9">
                <input class="form-control" id="date-input" type="date" name="fecha"  required="required" placeholder="date"><span class="help-block">Día/Mes/Año</span>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="date-input">Hora del evento:</label>
                <div class="col-md-9">
                  <input class="form-control" id="date-input" type="time" name="hora"  required="required"  placeholder="date"><span class="help-block"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Lugar del evento:</label>
                <div class="col-md-9">
                  <input class="form-control" id="text-input" type="text" name="lugar"  required="required"  placeholder="Ingrese lugar del evento:"><span class="help-block"></span>
                </div>
              </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">Descripción del evento</label>
              <div class="col-md-9">
                <textarea class="form-control" id="textarea-input" name="descripcion" required="required" rows="9" placeholder="Escriba una breve descripción.."></textarea>
              </div>
            </div>
  
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Suba imagen del evento:</label>
              <div class="col-md-9">
                <input id="file-input" type="file" name="imagen"  accept="image/*" required="required" >
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-primary" type="submit"> Rgistrar</button>
              <button class="btn btn-sm btn-danger" type="reset"> Limpiar</button>
            </div>
         
          </form>
        </div>
      
      </div>
</div>
{% endblock  %}