<div class="background_pattern">
<app-header></app-header>
<hr>
<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div *ngFor="let noti of news"class="col-12 col-xl-8">
                <div class="post-details-content bg-white mb-30 p-30 box-shadow">
                    <div class="blog-thumb mb-30">
                        <img src="http://127.0.0.1:8000{{noti.image}}" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="post-meta">
                            <a>{{noti.date}}</a>
                            <a>{{noti.cat}}</a>
                        </div>
                        <h4 class="post-title">{{noti.title}}</h4>

                        <p>{{noti.descr}}</p>

                        <p>Mauris dapibus turpis vel ialis tempor. Morbi turpis leon, pulvinar vitae convallis vitae, scelerisque necto eros. Suspendisse vitae pharetra risus. Pellentesque varius, felis in lacinia faucibus, ipsum liula aliquam nulla, non honcus nunc ipsum eu risus. Nunc finibus euismod magna sagittis. Sed dictum libero consectetur.</p>

                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <p>Vivamus nisl metus, dictum sit amet porttitor sit amet, lobortis sit amet ipsum. Mauris ut quam non magna gravida egestas. Sed rutrum sapien eget lorem bibendum ullamcorper.</p>
                                <ul>
                                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i> Duis blandit maximus tellus, sagittis volutpat tellus sandi.</li>
                                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i> Etiam vel auctor elit. Usaceros suscipit, lobortis felis non.</li>
                                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i> Integer sagittis finibus nequer, euster tincidunt misult.</li>
                                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i> Pellentesque euismod semeget diam ege</li>
                                </ul>
                                <p>Aliquam venenatis dui elit, et viverra mi maximus quis. Etiam vel auctor elit. Ut ac eros suscipit, lobortis felison, vulputate tellus. Suspendisse hendrerit aliquet lectus.</p>
                            </div>
                            <div class="col-12 col-lg-4">
                                <img class="mb-15" src="" alt="">
                            </div>
                        </div>

                        <p>Mauris nisi arcu, consectetur convallis fringilla quis, posuere ac mauris. Ut in placerat lorem. Donec cursus malesuada nibhem, eget consectetur posuere sed. Suspendisse auctor nec diamet consectetur. Etiam ac maurised nisib tincidunt viverra. Sed nulla lacus, convallis vel nunc sed, fringilla venenatis neque.</p>

                       <!-- <blockquote>
                            <h6 class="quote-text">{{noticia.quote.quote}}</h6>
                            <h6 class="quote-name">{{noticia.quote.name}}</h6>
                        </blockquote>-->

                        <p>Phasellus laoreet mattis ultrices. Integer ex sem, ultrices eu sem in, laoreet vehicula ligula. Phasellus quistor blandit salah convallis augue. Sed velot dictum sapient. In pulvinar libero turpis. Quisque facilisis bigbang consenti. Nullam bendumaz, massan consequat in gravida porttitor, aguet lacus condimentum mauris, id blandit quam augue eget mana. Etiam denim jeans lacus, nascetur auge bibendum vel pulvinar viverra, mattis sit amet mi. Mauris fringilla, ex vitae maximus fringilla, neque sapien maximus justo, cursus risus neque sed nibh. Donec at urna eros scelerisque non nibh sed.</p>

                        

                        <!-- Post Author 
                        <div class="post-author d-flex align-items-center">
                            <div class="post-author-thumb">
                                <img src="{{noticia.author.img}}" alt="">
                            </div>
                            <div class="post-author-desc pl-4">
                                <a class="author-name">{{noticia.author.name}}</a>
                                <p>{{noticia.author.descr}}</p>
                            </div>
                        </div>-->
                    </div>
                </div>

                

                

                
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 box-shadow">
                    

                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget p-30">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Categorías</h5>
                        </div>

                        <!-- Catagory Widget -->
                        <ul *ngFor="let cat of categorias" class="catagory-widgets">
                            <li><a [routerLink]="['/categoria-noticias',cat.id,cat.categoria]"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>{{cat.categoria}}</span> <span>35</span></a></li>
                        </ul>
                    </div>

                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget">
                        <a href="#" class="add-img"><img src="img/bg-img/add2.png" alt=""></a>
                    </div>

                    

                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Post Details Area End ##### -->

</div>
<app-footer></app-footer>