<div class="background-pattern">
<app-header></app-header>


  <div class="container bg-light center-block">
    <h1 class="text-center">Dejanos tus sugerencias</h1>
    <hr>
    <hr>
    <form>
      <h2>1. ¿Como nos ayuda tu sugerencia?</h2>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label label-option" for="exampleRadios1">
          Prevenir accidentes
        </label>      
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label label-option" for="exampleRadios2">
          Aumentar la calidad
        </label> 
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        <label class="form-check-label label-option" for="exampleRadios3">
          Mejora el servicio
        </label> 
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
        <label class="form-check-label label-option" for="exampleRadios4">
          Ahorrar tiempo
        </label> 
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
        <label class="form-check-label label-option" for="exampleRadios5">
          Reducir gastos
        </label> 
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="option6">
        <input type="text" class="input-option" id="exampleInput" placeholder="Otro" for="exampleRadios6">
      </div>
        
      
      <div class="form-group">
        <h2 for="exampleFormControlTextarea1">2. ¿Cuál es tu sugerencia?</h2>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      
      <div class="form-group">
        <h2 for="exampleFormControlInput1">3. ¿Cuál es tu dirección de correo?</h2>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <button type="submit" class="btn btn-primary center-block button-text">Publica tu sugerencia</button>
    </form>
    
  </div>


<app-footer></app-footer>
</div>