@import './css/bootstrap.css';
@import './css/style.css';


div.carrousel{    
    margin-bottom:1%;
}

div.background_pattern{
    background-image: url("src/assets/img/patrones/beige-tiles.png")!important;
    background-repeat: repeat!important;
    
}


