<!--Carrousel Bootstrap-->
  
<div class= 'container-fluid'>
<div class ='col-12'>

<ngb-carousel *ngIf="images">  
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="{{noticia1.img}}" alt="Random first slide">
    </div>
    <div class="carousel-caption background_label">
      
      <h3>{{noticia1.title}}</h3>
      <p>{{noticia1.desc}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="{{noticia2.img}}" alt="Random second slide">
    </div>
    <div class="carousel-caption background_label">
      <h3>{{noticia2.title}}</h3>
      <p>{{noticia2.desc}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="{{noticia3.img}}" alt="Random third slide">
    </div>
    <div class="carousel-caption background_label">
      <h3>{{noticia3.title}}</h3>
      <p>{{noticia3.desc}}</p>
    </div>
  </ng-template>
</ngb-carousel>
</div>
</div>
