<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Art Sign Up Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, 
		Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
    />
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- /google fonts-->

</head>


<body>
    <h2>Industrial Pesquera Santa Priscila</h2>

    <div class=" w3l-login-form">
        <h2>Inicio De Sesión</h2>
        <form action="#" method="POST">

            <div class=" w3l-form-group">
                <label>Usuario:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" required="required" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Contraseña:</label>
                <div class="group">
                    <i class="fas fa-unlock"></i>
                    <input type="password" class="form-control" name="password"   [(ngModel)]="password"  placeholder="Password" required="required" />
                </div>
            </div>

            <div class="forgot">
                
                <a [routerLink]="['/recuperar-clave']" routerLinkActive="active">Recuperar Contraseña?</a>

                <p><input type="checkbox">Remember Me</p>
            </div>
            <div class="forgot">

                <a [routerLink]="['/registro']" routerLinkActive="active">No tengo cuenta, quiero registrarme.</a>
             </div>

            <button type="submit" (click)="login()">Login</button>
            <div class="w3l-form-group"  *ngIf="showErrorMessage">
                <label>Usuario o contraseña incorrecto..</label>
              </div>
        </form>
       
       <!-- <p class=" w3l-register-p">Don't have an account?<a href="" class="register"> Register</a></p>-->
    </div>
    <footer>
        <p class="copyright-agileinfo">All Rights Reserved IPSP</p>
    </footer>

</body>

</html>