<div class="background_pattern">
<app-header></app-header>

<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(assets/img/background/banner-3.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Cambios Políticos</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<hr>

    <!-- ##### Archive Post Area Start ##### -->
    <div class="archive-post-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8">
                    <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">
                        
                         <div *ngFor="let new of news | paginate: {itemsPerPage: 7, currentPage: p}">
                        <!-- Single Catagory Post -->
                        <div class="single-catagory-post d-flex flex-wrap new-box">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail bg-img" style="background-image: url({{new.image}});">
                                
                            </div>

                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a >{{new.date}}</a>
                                    <a routerLink="/categoria-noticias">{{new.cat}}</a>
                                </div>
                                <a routerLink="/noticia" class="post-title">{{new.title}}</a>
                                
                                <p>{{new.descr}}</p>
                            </div>
                        </div>                        
                    </div>

                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <div class="sidebar-area bg-white mb-30 box-shadow">
                        

                        <!-- Sidebar Widget -->
                        <div class="single-sidebar-widget p-30">
                            <!-- Section Title -->
                            <div class="section-heading">
                                <h5>Categorías</h5>
                            </div>

                            <!-- Catagory Widget -->
                            <ul class="catagory-widgets">
                                <li><a routerLink="categoria-noticias"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Cambios Políticos</span> <span>35</span></a></li>
                                <li><a routerLink="categoria-noticias"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Brigada Médica</span> <span>30</span></a></li>
                                <li><a routerLink="categoria-noticias"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Promociones</span> <span>13</span></a></li>
                            </ul>
                        </div>

                        <!-- Sidebar Widget -->
                        <div class="single-sidebar-widget">
                            <a href="#" class="add-img"><img src="img/bg-img/add2.png" alt=""></a>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Archive Post Area End ##### -->

</div>

<app-footer></app-footer>