{% extends "views/login/index.html" %} 
{% load static %}

  <!-- /.container -->
{% block content %}
<body>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Tabla De Eventos</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Opcion</a></li>
                <li class="breadcrumb-item active">Eliminar Evento</li>
            </ol>
           
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Tabla de eventos
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Evento</th>
                                    <th>Fecha Publicacion</th>
                                    <th>ID</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for o in listaEvento %}
                                <tr >
                                     <td><a href="{% url 'modificarEvento' o.id_evento %}">{{o.titulo}}</a></td>
                                     <td>{{o.fecha}}</td>
                                     <td>{{o.id_evento}}</td>
                                     <td>
                                            <form  name="myform{{o.id_evento}}" action="{% url 'delete_evento' o.id_evento %}">
                                                <a onclick="confirmationMessage('{{o.id_evento}}')" >
                                                <input type="button"  id={{o.id_evento}} class="btn-table floated"  value="Eliminar">
                                                </a>
                                           </form>
                                            <a href="{% url 'modificarEvento' o.id_evento %}">
                                                <input type="button"  id={{o.id_evento}} class="btn floated"  value="Modificar">   
                                            </a>                         
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
    {% endblock %}  