{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">


<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		<img src="{{user.empleado.imagen.url}}" />
    <h2>{{user.first_name}} {{user.last_name}} </h2>
  </header>

	<ul>
    <a  href="{% url 'buzon' %}"><li tabindex="0" class="icon-mail"><span>Buzón De Sugerencias</span></li></a>
    <a  href="{% url 'modificar_principal' %}"><li tabindex="0" class="icon-principal"><span>Modificar Web</span></li></a>
    <li tabindex="0" ></li>
    <li tabindex="0" ></li>
    <a  href="{% url 'noticia' %}"><li tabindex="0" class="icon-news">Registrar Noticias</li></a>
    <a  href="{% url 'evento' %}"><li tabindex="0" class="icon-evento"><span>Registrar Evento</span></li></a>
    <a  href="{% url 'categoria' %}"><li tabindex="0" class="icon-categoria"><span>Resgistar Categorias</span></li></a>
    <a  href="{% url 'empleado' %}"><li tabindex="0" class="icon-users"><span>Resgistar Empleado</span></li></a>

    <li tabindex="0" ></li>
    <a  href="{% url 'modificar_noticia' %}"><li tabindex="0" class="icon-edit-file">Modificar Noticias</li></a>
    <a  href="{% url 'modificar_evento' %}"><li tabindex="0" class="icon-edit"><span>Modificar Evento</span></li></a>
    <a  href="{% url 'modificar_empleado' %}"><li tabindex="0" class="icon-edit-acc"><span>Modificar Empleado</span></li></a>

    <li tabindex="0" ></li>
    <a  href="{% url 'delete' %}"><li tabindex="0" class="icon-delete-news">Eliminar Noticias</li></a>
    <a  href="{% url 'deletevento' %}"><li tabindex="0" class="icon-delete-event"><span>Eliminar Evento</span></li></a>
    <a  href="{% url 'deletecategoria' %}"><li tabindex="0" class="icon-delete">Eliminar Categorias </li></a>
    <a  href="{% url 'deletempleado' %}"><li tabindex="0" class="icon-user-delete"><span>Eliminar Empleado</span></li></a>
    <li tabindex="0" ></li>
    <a class="nav-link" href="{% url 'logout' %}"><li tabindex="0" class="icon-log-out"> <span>Cerrar Sesión</span></li></a>
  </ul>

</nav>
{% block content %} 

{% endblock %}  

