{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">


<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
    <h2>{{ request.user }}</h2>
  </header>
	<ul>
    <li tabindex="0" class="icon-dashboard"><a  href="{% url 'noticia' %}">Registrar Noticias</a></li>
    <li tabindex="0" class="icon-customers"><a  href="{% url 'evento' %}"><span>Registrar Evento</span></a></li>
    <li tabindex="0" class="icon-users"><a  href="{% url 'empleado' %}"><span>Resgistar Empleado</span></a></li>
    <li tabindex="0" ></li>
    <li tabindex="0" class="icon-delete"><a  href="{% url 'noticia' %}">Eliminar Noticias</a></li>
    <li tabindex="0" class="icon-customers"><a  href="{% url 'evento' %}"><span>Eliminar Evento</span></a></li>
    <li tabindex="0" class="icon-users"><a  href="{% url 'empleado' %}"><span>Eliminar Empleado</span></a></li>
    <li tabindex="0" ></li>
    <li tabindex="0" class="icon-delete"><span>Cerrar Sesión</span></li>
  </ul>
</nav>

{% block content %}
  
{% endblock %}  