{% extends "views/index.html" %} 

  <!-- /.container -->

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/table.css' %}">

<h2>Responsive Table</h2>
<script src="{% static 'scripts/table.js' %}"></script>

<div class="table-wrapper">
    <input class="formFecha2" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    <form>
    <table class="fl-table " id="myTable">
        <thead>
        <tr>
            <th>Empleado</th>
            <th>Correo</th>
            <th>Cedula</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
            {% for o in listaEmpleado %}
                <tr id="trid">
                     <td id="tdid">{{o.nombre}} {{o.apellido}}</td>
                     <td>{{o.correo}}</td>
                     <td>{{o.id_empleado}}</td>
                     <td><form action="{% url 'delete_empleado' o.id_empleado%}"><input type="submit" value="Delete"></form></td>
                </tr>
            {% endfor %}       
        <tbody>
    </table>

    </form>
</div>

{% endblock %}
