{% extends "views/index.html" %} 
{% load static %}

  <!-- /.container -->

{% block content %}

<link rel="stylesheet" href="{% static 'css/table.css' %}">
<script src="{% static 'scripts/table.js' %}"></script>

<h2>Responsive Table</h2>

<div class="table-wrapper">
    <input class="formFecha2" type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Evento">
    <table class="fl-table " id="myTable">
        <thead>
        <tr>
            <th>Evento</th>
            <th>Fecha Publicacion</th>
            <th>Id</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
            {% for o in listaEvento %}
                <tr >
                     <td >{{o.titulo}}</td>
                     <td>{{o.fecha}}</td>
                     <td>{{o.id_evento}}</td>
                     <td><form  name="myform" action="{% url 'delete_evento' o.id_evento %}"><input type="button" class="btn" onclick= "confirmationMessage()" value="Eliminar"></form></td>
                </tr>
            {% endfor %}
       
        <tbody>
    </table>
</div>

{% endblock %}
