{% extends "views/index.html" %} 
{% load static %}

  <!-- /.container -->

{% block content %}

    
<head><link rel="stylesheet" href="{% static 'css/styleRegistroNoticias.css' %}"></head>
<br />
<div class="inner contact divCont">
                <!-- Form Area -->
                <h3 class="letterh3">Registro De Empleados</h3>

                <div class="contact-form mt-4  ">
                    <!-- Form -->
                    <form enctype="multipart/form-data" id="contact-us" method="post" action="#">
                        {% csrf_token %}
                        <!-- Left Inputs -->
                        <div class="  mx-auto wow animated slideInLeft" data-wow-delay=".5s">
                            <!-- Name -->
                            <label  class=" labelCol" for="Motivo">Nombre:</label>
                            <input type="text" name="name" id="name" required="required" class="formFecha3" placeholder="Nombre" />
                            <label class=" labelCol" for="Motivo">Apellido:</label>
                            <input type="text" name="apellido"  required="required" class="formFecha3" placeholder="Apellido" />
                        
                        </div><!-- End Left Inputs -->
                         <!-- Left Inputs -->
                         <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                            <!-- Name -->
                            <label  class="ml-5 labelCol" for="Motivo">Usuario:</label>
                            <input type="text" name="user"  required="required" class="formFecha3" placeholder="Usuario" />
                            <label  class="ml-5 labelCol" for="Motivo">Contraseña:</label>
                            <input type="password" name="password"  required="required" class="formFecha3" placeholder="Contraseña" />
                        
                        </div><!-- End Left Inputs -->
                        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                            <!-- Name -->
                            <label  class="ml-5 labelCol" for="Motivo">Cedula:</label>
                            <input type="text" name="cedula"  required="required" class="formFecha3" placeholder="cedula" />
                            <label  class="ml-5 labelCol" for="Motivo">Correo  :</label>
                            <input type="text" name="correo"  required="required" class="formFecha3" placeholder="correo" />
                        
                        </div><!-- End Left Inputs -->
                            <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                                <label  class="labelCol">Empleado del mes:</label>
                                <select name="mejorEn " class="formFecha">
                                    {% for cate in categorias  %}
                                    <option value="{{cate.id_tipocat}}">{{cate.categoria}}</option>
                                    {% endfor  %}

                                </select>
                                <label class="labelCol" >Nacimiento en:</label>
                                <input type="date" name="fecha" id="subject" required="required" class="formFecha2" placeholder="Subject" />
                            </div>
                            
                            <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                                <label  class="labelCol">Imagen Empleado :</label>
                                <input type="file" class="formFecha2" name="image">                                
                                <label  class="labelCol">Extension o ruta:</label>
                                <input type="text" name="ext" id="subject" required="required" class="formFecha3" placeholder="extencion" />
                            </div>

                         <!-- Email -->
                        
                        <!-- Subject -->
                        <!-- Right Inputs -->
                        <!-- Bottom Submit -->
                        <div class=" fullwidth col-xs-12 divBtn">
                            <!-- Send Button -->
                            <div class="mt-3 divBtn">
                                <button type="submit" id="submit" name="submit" class="form-btn semibold">Publicar Noticia</button> 
                                <button type="submit" id="submit" name="submit" class="form-btn semibold">Limpiar Campos</button> 
                            </div>
                        </div><!-- End Bottom Submit -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>

                    <!-- Your Mail Message -->
                    <div class="mail-message-area">
                        <!-- Message -->
                        <div class="alert gray-bg mail-message not-visible-message">
                            <strong>Thank You !</strong> Your email has been delivered.
                        </div>
                    </div>

                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->

{% endblock %}  
