{% extends "views/index.html" %} 
{% load static %}

  <!-- /.container -->

{% block content %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<script src="{% static 'scripts/table.js' %}"></script>

<h2>Responsive Table</h2>
<div class="table-wrapper">
    <input class="form" type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Noticia">
    <table class="fl-table" id="myTable">
        <thead>
        <tr>
            <th>Titulo Noticia</th>
            <th>Categoria</th>
            <th>Fecha Publicacion</th>
            <th>ID</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
            {% for o in listaNoticia %}
                <tr>
                     <td>{{o.titulo}}</td>
                     <td>{{o.tipo_noticia.categoria}}</td>
                     <td>{{o.fecha}}</td>
                     <td>{{o.id_noticia}}</td>
                     <td><form name="myform" action="{% url 'delete_noticia' o.id_noticia %}"><input type="button" class="btn" onclick= "confirmationMessage()" value="Eliminar"></form></td>
                </tr>
            {% endfor %}
                
        <tbody>
    </table>
</div>
{% endblock %}
