{% extends "views/index.html" %} 
{% load static %}

  <!-- /.container -->

{% block content %}

    
<head><link rel="stylesheet" href="{% static 'css/styleRegistroNoticias.css' %}"></head>
<br />
<div class="inner contact divContCategorias">
                <!-- Form Area -->
                <div class="contact-form">
                    <h3 class="letterh3">Registrar Categorias</h3>
                    <!-- Form -->
                    <form id="contact-us" method="post" action="#">
                        {% csrf_token %}
                        <!-- Left Inputs -->
                        <div class="col-xs-6  mx-auto wow animated slideInLeft" data-wow-delay=".5s">
                            <!-- Name -->
                            <h5 class="letterh3">Registro el tipo de noticias</h5>
                            <label  class="ml-5 labelCol" for="Motivo">Categoria Noticia:</label>
                            <input type="hidden" name="tipoForm1" id="tipoForm1"  value="form1" />
                            <input type="text" name="tipoNoticia" id="name" required="required" class="formFecha" placeholder="Nueva categoria de noticia" />
                            <button type="submit" id="submit" name="tipo" class="form-btn semibold">Registar Categoria </button> 
                        </div><!-- End Left Inputs -->
                    </form>

                    <form id="contact-us" method="post" action="#">
                        {% csrf_token %}
                        <div class="col-xs-6  mx-auto wow animated slideInLeft" data-wow-delay=".5s">
                            <h5 class="letterh3">Registro tipo de logros </h5>
                            <label class="ml-5 labelCol" for="Motivo">Categoria Empleado:</label>
                            <input type="hidden" name="tipoForm2" id="tipoForm2"  value="form2" />
                            <input type="text" name="categoria" id="name" required="required" class="formFecha" placeholder="Nueva categoria de mejor empleado" />
                            <button type="submit" id="submit" name="emplecategoria" class="form-btn semibold">Registrar Tipo</button> 
                    </form>

                        </div><!-- End Left Inputs -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    <div class="mail-message-area">
                        <!-- Message -->
                        <div class="alert gray-bg mail-message not-visible-message">
                            <strong>Thank You !</strong> Your email has been delivered.
                        </div>
                    </div>
                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->

{% endblock %}  
