{% extends "views/index.html" %} 

  <!-- /.container -->

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/table.css' %}">

<h2>Responsive Table</h2>
<script src="{% static 'scripts/table.js' %}"></script>

<div class="table-wrapper">
    <input class="formFecha2" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    <table class="fl-table " id="myTable">
        <thead>
        <tr>
            <th>Categoria</th>
            <th>ID</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
            {% for o in listaCategoriaNoticia %}
                <tr >
                     <td >{{o.categoria}}</td>
                     <td>{{o.id_tiponot}}</td>
                     <td><form  name="myform" action="{% url 'delete_categoriaNoticia' o.id_tiponot %}"><input type="submit"  onclick= "" value="Delete"></form></td>
                </tr>
            {% endfor %}
       
        <tbody>
    </table>
</div>

{% endblock %}
