@import './css/bootstrap.css';
@import './css/styles.css';

.centrate{
    text-align: center;
}

div.background_pattern{
    background-image: url("src/assets/img/background/bush/bush.png")!important;
    background-repeat: repeat!important;
}
#team{
    background: #187986;
}
.large{
    font-family: "Raleway";
}
div.callout p{
    font-family: "Raleway";
}
.texto{
    font-family: "Raleway";
}
.trabajadores-destacados{
    padding-top: 5%;
    padding-bottom: 10%;
}

.empl{
    padding-bottom: 15%;
}
.pattern{
    background-image: url("src/assets/img/patrones/weather.png")!important;
    background-repeat: repeat!important;
}