
  
  <!-- ==== HEADERWRAP ==== -->
  <div id="home-section">
  <div id="headerwrap" name="home">
    <header class="clearfix tb"> 
   <div class="tb-cell text-center">
<img class="shrimp icon" src="assets/img/shrimp.png" width="100" height="100">
      <h1>Santa Priscila </h1>
      <p>Pesca lo mejor del día </p>
      
      </div>
      </header>
  </div>
  
  </div>
  <div class="div-pattern2"></div>
  <!-- /headerwrap --> 
  
  
  
  <!-- ==== SERVICES ==== -->
  <div id="services" name="services">
    <div class="container">
      <div class="row">
        <h2 class="centered">Historia desde 1976</h2>
        <hr>
        <div class="col-lg-8 col-lg-offset-2">
          <p class="large">En 1976 empieza en Ecuador la industria acuícola, una indsutria nueva, movida por la visión de ser parte de un mundo mejor: con alimentos sostenibles, que no se acaben en el tiempo; por que lor recursos del hombre y la naturaleza no son infinitos. Nosotros elegimos ser generadores de cambios para proteger y salvarguardar los recursos naturales del país.<br><br>
            Nuestro propósito era proteger de la extinción a las especies marinas. Nos tocó inventar de cero, en otras partes del mundo donde no había nada igual. El modelo se desarrolló en Ecuador por ecuatorianos con experiencia y aprendizaje propios.<br><br>
            En el camino fuimos encontrando retos y muchísimos aprendizajes que nos desafiaron a hacer las cosas de mejor manera, un gran ejemplo fue lo que nos dejó la crisis de la mancha blanca, que fue un reto biológico y social, fuimos declarados en emergencia mundial. La clave de la salida de la mancha blanca fue cambiar el proceso original, eliminando por completo el uso de los antibióticos y reemplazándolo por probióticos, para que las especies se hagan mas fuertes y se encuentren saludables para que sirvan como alimento.
            Seguiremos invirtiendo en la industria y en el país, como lo hemos hecho desde el año 1976, porque creemos en un Ecuador mejor, en un mundo mejor.<br></p>
        </div>
        <div class="col-lg-4 callout"> <img src="assets/img/mision.png" width="100" height="100">
          <h3>Mision</h3>
          <p>Producir, procesar, comercializar y exportar camarones frescos congelados, cumpliendo con estándares de Calidad, 
						Seguridad Ocupacional y Medio Ambiente, enfocados a la optimización de recursos y mejora continua.</p>
        </div>
        <div class="col-lg-4 callout"> <img src="assets/img/vision.png" width="120" height="90">
          <h3>Vision</h3>
          <p>Incrementar la producción y exportación, mediante la mejora continua en infraestructura, certificación de nuevos estándares internacionales,
            responsabilidad social, empresarial y tecnología, para satisfacer a nuestros clientes y llegar a liderar el mercado nacional.</p>
        </div>
        <div class="col-lg-4 callout"> <img src="assets/img/valores.png" width="100" height="100">
          <h3>Valores</h3>
          <p>La pasión es inagotable y se siente a diario, se sale de la piel, la siente mi gente, y lo siento yo.
            Presidente Ejecutivo Ing. Santiago Salem<br>
            
            <b>Idealistas</b>
            Soñamos con un mejor planeta, promovemos la sostenibilidad de nuestros recursos.<br>
            
            <b>Protectores</b>
            con la naturaleza, con nuestra gente, con nuestros consumidores.<br>
            
            <b>Apasionados e innovadores</b>
            , perseguimos nuestros ideales, estamos dispuestos a reinventarnos para encontrar mejores soluciones.<br>
            
            <b>Transparencia</b>
            , fieles a nuestros principios de ética y transparencia, en nuestras acciones y con lo que entregamos a la sociedad.</p><br>
        </div>
      </div>
      <!-- row --> 
    </div>
  </div>
  <!-- container --> 
  <section class="hero-section section">  
          <div class="container">
              <div class="highlight tb">
                  
                  
              </div>
          </div>
          
      </section>
      <div class="div-pattern"></div>
  <!-- ==== ABOUT ==== -->
  <div id="about" name="about">    
  <!-- container --> 
  <!-- ==== PORTFOLIO ==== -->
  <div id="portfolio" name="portfolio">
    <div class="container">
      <div class="row">
        <h2 class="centered">Reconocimientos</h2>
        <hr>
        <div class="col-lg-8 col-lg-offset-2 centered">
          <p class="large">La calidad de nuestros procesos y productos cumplen con las normas de las autoridades<br>
            nacionales (INP) e internacionaless de varios paises y continentes (UE, USFDA, China, Korea,<br>
            Rusia, etc). Ademas, contamos tambien con certificaciones de calidad de entidades<br> reconocidas a nivel mundial.<br><br>            

            Aqui encontraran algunas de nuestras certificaciones:</p>
        </div>
      </div>
      <!-- /row -->
      <div class="container">
        <div class="row"> 
          
          
          <div class="col-md-4 " align="center">
            
              <figure> <img class="img-responsive" src="assets/img/certificados/cert1.png" alt="">
                  <h5>Certificado Orgánico
                    Unión Europea</h5>
              </figure>
          </div>
          
          <div class="col-md-4 " align="center">
            
            <figure> <img class="img-responsive" src="assets/img/certificados/cert2.png" alt="">                
                <h5>Certificado Orgánico
                  Ecuador</h5>
            </figure>
        </div>
        <div class="col-md-4 " align="center">
            
          <figure> <img class="img-responsive" src="assets/img/certificados/cert3.png" alt="">                
              <h5>Certificado Punto
                Verde</h5>
          </figure>
      </div>
      
          


      <div class="col-md-4 " align="center">
            
        <figure> <img class="img-responsive" src="assets/img/certificados/cert4.png" alt="">                
            <h5>Certificado BRC
              2019</h5>
        </figure>
    </div>
    
    <div class="col-md-4 " align="center">
            
      <figure> <img class="img-responsive" src="assets/img/certificados/cert5.png" alt="">                
          <h5>Certificado BPM
            Juan Tanca Marengo y
            Vía Daule</h5>
      </figure>
  </div>

  <div class="col-md-4 " align="center">
            
    <figure> <img class="img-responsive" src="assets/img/certificados/cert6.png" alt="">                
        <h5>Certificado ASC
          2018</h5>
    </figure>
</div>

<div class="col-md-4 " align="center">
            
  <figure> <img class="img-responsive" src="assets/img/certificados/cert7.png" alt="">                
      <h5>Certificado MSC
        2021</h5>
  </figure>
</div>

<div class="col-md-4 " align="center">
            
  <figure> <img class="img-responsive" src="assets/img/certificados/cert8.png" alt="">                
      <h5>Certificado
        INEN</h5>
  </figure>
</div>

<div class="col-md-4 " align="center">
            
  <figure> <img class="img-responsive" src="assets/img/certificados/cert9.png" alt="">                
      <h5>Certificado Whole
        Foods Market 2019</h5>
  </figure>
</div>

<div class="col-md-4 " align="center">
            
  <figure> <img class="img-responsive" src="assets/img/certificados/cert10.png" alt="">                
      <h5>Certificado Ethical
        Trading Initiative
        (ETI) 2017</h5>
  </figure>
</div>

<div class="col-md-4 " align="center">
            
  <figure> <img class="img-responsive" src="assets/img/certificados/cert11.png" alt="">                
      <h5>Certificado
        kosher</h5>
  </figure>
</div>

</div>
</div>
</div>
</div>
</div>
  <!-- /container --> 
  
  <!-- ==== TEAM MEMBERS ==== -->
  <div id="team" name="team">
    <div class="container">
      <div class="row centered">
        <h2 class="centered">>Trabajadores destacados</h2>
        <hr>
         <div class="col-lg-8 col-lg-offset-2 centered">
          
          <br/>
        </div>
        <div class="col-md-4 centered"> <img class="img img-circle" src="assets/img/team/team01.jpg" height="120px" width="120px" alt="">
          <h4><strong>Erick Pulla</strong></h4>
          <p></p>
 </div>
        <div class="col-md-4 centered"> <img class="img img-circle" src="assets/img/team/team02.jpg" height="120px" width="120px" alt="">
          <h4><b>Jaime Alarcón</b></h4>
          <p></p>
 </div>
        <div class="col-md-4 centered"> <img class="img img-circle" src="assets/img/team/team03.jpg" height="120px" width="120px" alt="">
          <h4><b>Luis Carrasco</b></h4>
          <p></p>
 </div>
        
       
      </div>
    </div>
    <!-- row --> 
  </div>
  <!-- container -->   
  
  <!-- container -->
  

