/* You can add global styles to this file, and also import other style files */

.btn-register{
    float:right;

}
.center{
   vertical-align: middle;
   padding: 18px 36px;
   
   
}



.shrimp{
    margin-top: 10;
}

body{
    background-image: url("src/assets/img/background/bush/bush.png");
    background-repeat: repeat;
}
.home{
    padding: 20px 5px;
}
.news-container{
    background-color: aliceblue;
}
.justificacion{
    text-align: justify;
}
.text-center{ 
    background-color: aliceblue;

}
.margen{
    margin-bottom: 5px;

}
.color{
    background-color: brown;
}
.seccion{
    margin-bottom: 10%;
}

.noticia{


    background-color: burlywood;
}
.Categorias{
    padding-left: 5%;
    padding-right: 5%;
}