/* You can add global styles to this file, and also import other style files */

.btn-register{
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 15px; 
}
.center{
   vertical-align: middle;
   padding: 10px 16px;
   
   
}

#navbar-main > div > div > div.logo{
    display: flex;
    justify-content: center;
    align-content: center;
}

