<div class="background_pattern">
    <app-header></app-header>       
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

        <hr>
        <!-- ##### Archive Post Area Start ##### -->
        <div class="archive-post-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8">
                        <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">
                            <ul class="event-list" *ngFor="let event of events">
                                <li>
                                    <time>
                                        <span class="day">{{event.day}}</span>
                                        <span class="month">{{event.month}}</span>
                                        <span class="year">{{event.year}}</span>
                                        <span class="time"><fa-icon [icon]="faClock"></fa-icon>{{event.time}}</span>
                                    </time>
                                    <img alt="Independence Day" src="http://127.0.0.1:8000{{event.image}}" />
                                    <div class="info">
                                        <h2 class="title">{{event.title}}</h2>
                                        <p class="desc">{{event.desc}}</p>
                                        <p class="place"> <fa-icon [icon]="faMapMarkerAlt"></fa-icon> {{event.place}}</p>
                                    </div>                                                
                                    
                                </li>
                
                                
                            </ul>
                              
                            
                            
                       
                        
                            <!-- Pagination 
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-right"></i></a></li>
                                </ul>
                            </nav>-->
    
                        </div>
                    </div>
    
                    <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                        <div class="sidebar-area bg-white mb-30 box-shadow">
                            
    
                            <!-- Sidebar Widget -->
                            <div class="single-sidebar-widget p-30">
                                <igx-month-picker (click)="loadEvents()" [(ngModel)]="date" [locale]="locale"></igx-month-picker>
                            </div>

                            <p>Date: {{monthPicker.value|date:'longDate'}}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Archive Post Area End ##### -->
    
</div>

<app-footer></app-footer>



